* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blanco: #F0F0F0;
  --rojo: #BE3144;
  --azul: #45567D;
  --gris: #303841;
  --naranja: #ff7f50;
}

/** REGLAS GENERALES */

html {
  font-size: 10px; /* 10 px */
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

p, a {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FIN REGLAS GENERALES */

/** REGLAS DEL HEADER */

.nav {
  background-color: var(--rojo);
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  /* position */
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav_links {
  display: flex;
}

.nav_link a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.nav_link a:hover {
  background-color: var(--azul);
}

/* FIN REGLAS DEL HEADER */

/** REGLAS DEL HERO */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.hero h1 {
  font-size: 6rem;
  color: var(--blanco);
}

.hero p {
  font-size: 3rem;
  color: var(--rojo);
  font-style: italic;
  font-weight: 200;
}

/* FIN REGLAS DEL HERO*/

/** REGLAS DE PROJECTS */

.projects {
  background-color: var(--azul);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  gap: 6rem;
}

.projects > h2 {
  font-size: 4.2rem;
  color: var(--blanco);
  border-bottom: .2rem solid var(--blanco);
  line-height: 1.4;
  padding: 0 1.4rem;
}

.cards {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.card {
  background-color: var(--gris);
  height: 460px;
}

.card_img {
  height: calc(100% - 6.8rem);
}

.card_text {
  font-size: 2rem;
  padding: 2rem .5rem;
  text-align: center;
}

.card_code {
  color: var(--gris);
  transition: all .4s;
}

.card:hover .card_code {
  color: var(--naranja);
}

.show_all {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: var(--gris);
  transition: all .4s;
}

.show_all:hover {
  background-color: var(--rojo);
}

.show_all-icon {
  transform: translateX(0);
  transition: all .4s;
}

.show_all:hover .show_all-icon {
  transform: translateX(4px);
}

/* FIN REGLAS DE PROJECTS */

/** REGLAS DE CONTACT */ 

.contact {
  background-color: var(--gris);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco);
  height: 80vh;
  justify-content: center;
}

.contact > h2 {
  font-size: 6rem;
}

.contact > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
}

.contact_links {
  font-size: 2.4rem;
  display: flex;
  gap: 4rem;
  padding: 6rem;
}

.contact_link {
  display: block;
  transform: translateY(0);
  padding: 1.5rem .5rem;
  transition: all .4s;
}

.contact_link:hover {
  transform: translateY(11px);
}

/* FIN REGLAS DE CONTACT */ 

/** REGLAS DE FOOTER */

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--gris);
  color: var(--blanco);
  border-top: 4px solid var(--rojo);
}

.footer > p{
  padding: 3.9rem 1rem;
  font-size: 1.8rem;
  font-weight: 300;
}

/* FIN REGLAS DE FOOTER */
